body {
    background-color: white;
    margin: 60px auto;
    width: 70%;
    color: black;
    font-family: 'Georgia', serif;
}

/* Sidebar Menu*/
.sidenav {
    padding: 20px;
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 210px;
    position: fixed;
    /* Fixed Sidebar  */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #083045;
    overflow-x: hidden;
    /* Disable horizontal scroll */
}

.sidenav p {
    font-size: 18px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 10px;
    color: #f5d76e;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

.sidenav img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.resume-button {
    background-color: #3e92cc;
    width: 210px;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
}

.resume-button:hover {
    background-color: #3a86ba;
}

#sidenav_links {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 15px;
}

#sidenav_links p {
    padding: 0px 10px 2px;
    /*    padding*/
}

#sidenav_links a {
    color: #eed369
}

/* End Sidebar Menu*/

.container {
    margin-left: 210px;
    /* Same as the width of the sidebar */
    margin-right: 300px;
    padding: 0px 10px;

}

footer a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

.blurb {
    font-family: 'Segoe UI', 'Candara', 'Helvetica', sans-serif;
    font-weight: 300;
    /*    font-size: 1.4em;*/
}

h1 {
    font-size: 4em;
}

.blurb h2 {
    background-color: #eed369;
    color: #083045;
    font-size: 2.1em;
    /*    color: black;*/
}

.blurb h3 {
    font-style: italic;
    color: #3b3c40;
    font-size: 1.7em;
    /*    line-height: 0.5em;*/
    margin-bottom: 3px;
}

.blurb h4 {
    font-size: 1.2em;
}

/* Bio Blurb */

#bio-blurb p {
    font-weight: 350;
    font-size: 1.5em;
    line-height: 1.4em;
}

/* End Bio Blurb */

.blurb p {

    font-size: 1.4em;
    line-height: 1em;
    font-weight: 300;
    color: black;
}

.blurb ul {
    font-weight: 300;
}

.relevant-classes-details {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    font-weight: 300;
}

.relevant-classes-details p {
    font-size: 18px;
    padding: 0px;
    font-family: 'Segoe UI', 'Candara', 'Helvetica', sans-serif;
}

.details-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    padding-inline-start: 0px;

}

.details-list li {
    border: 1px solid grey;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: all .2s linear;
}

.details-list li:hover {
    transform: scale(1.1);
}

tr {
    font-size: 18px;
    transition: all .2s linear;
}

tr:hover {
    transform: scale(1.1);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

nav ul,
footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    margin-left: 210px;
    position: static;
    bottom: 0%;
}

nav li a {
    display: block;
    width: 60px;
}

ul.posts {
    /*    margin: 20px auto 40px;*/
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
